.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.values{
  border: 30px;
  margin-left: 20px;
  margin-bottom: 40px;
}

.value{
  margin-top: 50px;
  margin-left: 10px;
}

.res{
  color: rgb(255, 40, 40);
}

#tble{
  margin-top: 50px;
}

.slbt{
  border-radius: 50%;
  font: bolder;
  color: #61dafb;
  border-color: aquamarine;
  font-size: larger;
  float: right;
  margin: 20px;
}

.tempinput{
  flex-direction: row;
}

.eqbtn{
  margin-left: 75%;
  margin-top: 50px;
  margin-bottom: 10px;
}

.eqntyp{
  margin-left: 10%;
}

.tempinput{
  /* margin-left: 10px; */
  display: flex;
  align-items: center;
  justify-content: center;
}

.graph{
  margin: 10px 20%;
}

.inputgrps{
  width: 100%;
}

.upld{
  margin: 20px 10% 20px 2%;
}

.modulus{
  margin-left: 10px;
  width: 35%;
}

.modulus:hover{
  color: red;
  cursor: pointer;
}

.res{
  margin-left: 10px;
}

.errpara{
  margin: 20px;
  font-weight: bolder;
}